@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@1,300&display=swap');
$color-text: rgb(100, 100, 100);
$color-icon: rgb(0, 0, 0);
$color-icon-hover: rgb(112, 33, 33);
$font-title: 'Pacifico', cursive;
$font-p: 'Roboto', sans-serif;
